<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to PUB FINDER</h1>

  <h2>
    This is the home page for the
    <a href="#">PUB FINDER</a>
    web application.
  </h2>
  <% if !logged_in? %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>

 <% if logged_in? && !current_user.admin? %>
 <div class="col-md-8">
    <% if current_user.favorites.count > 0 %>
      <h3>Your favorite pubs (<%= current_user.favorites.count %>)</h3>
      <ol class="favorites">
        <%= render @current_user.favorites %>
      </ol>
    <% end %>
  </div>
   <div class="col-md-8">
    <% if current_user.visiteds.count > 0 %>
      <h3>Your visited this pubs (<%= current_user.visiteds.count %>)</h3>
      <ol class="visiteds">
        <%= render @current_user.visiteds %>
      </ol>
    <% end %>
  </div>

  <% end %>

 <% if logged_in? && current_user.admin? %>
      <h3>Pubs still to validate </h3>
	<ul class="pubs">
	<%for pub in Pub.all %>
	<% if !pub.validated%>
    <%= render pub %>
    	<%end%>
	<%end%> 
    </ul>
 <% end %>
