<li id="answer-<%= answer.id %>">
  <% if answer.user == answer.review.pub.user %>
	  <span class="answer"><%= link_to answer.review.pub.name, answer.review.pub %></span>
<% else %>
  <span class="answer"><%= link_to answer.user.name, answer.user %></span>
<% end %>
  <span class="content"><%= answer.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(answer.created_at) %> ago.
  </span>
      <% if current_user.admin? or answer.user == current_user %>
    | <%= link_to "delete", answer, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
      <% if answer.user == current_user %>
    | <%= link_to "edit", edit_answer_path(answer) %>
  <% end %>
</li>
