<% provide(:title, @pub.name) %>
<% if logged_in? && current_user == @pub.user%>
  You are the owner of this pub!
  <br>
  <% if !@pub.validated %> The pub still has to be validated by the administrator!
  <% end %>

<%= link_to "Upload menu", new_pub_menu_path(@pub), class: 'btn btn-primary'  %>
  <% if @pub.menu %>
    <%= link_to "Delete menu", pub_menu_path(@pub, @pub.menu), method: :delete,
                                  data: { confirm: "You sure?" }, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<% if current_user.admin? or current_user == @pub.user %>
    <%= link_to "Delete this pub", @pub, method: :delete, class: 'btn btn-primary' %>
    <%= link_to "Edit pub's informations", edit_pub_path(@pub), class: 'btn btn-primary'  %>
<% end %>


<%= content_tag :div, '', id: 'mycontainer', data: { source: @pub.address } %>

<head>

    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Pub's position</h3>
    <div id="map"></div>
    <script>

      function initMap() {

        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(41.8, 12.5);
        var mapOptions = {
          zoom: 16,
          center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        var address = $('#mycontainer').data('source');

        geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
      }
    });


      }
    </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVsAo1j0yYW6eY-kKtqjy-IMLnSt4NV0U&callback=initMap">
    </script>


  </body>

<div class="row">
<div class="col-md-2">
<%= image_tag ("yellow_beer.png")%>
</div>
  <div class="col-md-8">
      <h1>
        <%= @pub.name %>
        <br>
        <h2> <%= @pub.address %> </h2>
        <h2> <%= @pub.description %> </h2>
        <h3>
<% if @pub.website%>
        <%= link_to "Visit website", "http://"+@pub.website %>
<% end %>
        <br>
        This pub was visited <%= pluralize((@pub.visited_pubs.count), "time") %>
        <br>
        Ratings:<%= @pub.avg_votes %>/5
        </h3>
        </h1>
  </div>
<div class="col-md-2">
<%= image_tag ("yellow_beer.png")%>
</div>
</div>

<div align="center">
    <% if !current_user.admin? && current_user != @pub.user %>
    <% if current_user.favorites.include?(@pub) %>
    <%= link_to "Unfavorite", favorite_pub_path(@pub, type: "unfavorite"), method: :put, class: 'btn btn-primary'%>
    <% else %>
      <%= link_to "Favorite",   favorite_pub_path(@pub, type: "favorite"), method: :put, class: 'btn btn-primary' %>
    <% end %>
    <% if current_user.visiteds.include?(@pub) %>
  <%= link_to "I have not been here!",   visited_pub_path(@pub, type: "not visited"), method: :put, class: 'btn btn-primary' %>
  <% else %>
  <%= link_to "I have been here!",   visited_pub_path(@pub, type: "visited"), method: :put, class: 'btn btn-primary' %>
  <% end %> 
  <% end %>
      <% if @pub.menu %>
        <%= link_to "See menu", @pub.menu.document.url, class: 'btn btn-primary', target: '_blank'%> 
        <% end %>
</div>

  <div class="row">
    <aside class="col-md-4">
    <% if logged_in? && current_user == @pub.user%>
      <section class="user_info">
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    <% end %>
    </aside>

    <aside class="col-md-2">
    </aside>


    <aside class="col-md-4">
    <% if logged_in? && !current_user?(@pub.user)%>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
      <% end %>
    </aside>

        <aside class="col-md-2">
    </aside>
</div>




<div class="row">
    <div class="col-md-6">
    <% if @pub.microposts.any? %>
      <h3>Microposts (<%= @pub.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts%>
    <% end %>
  </div>

  <div class="col-md-6">
    <% if @pub.reviews.any? %>
      <h3>Reviews (<%= @pub.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
</div>
