<% provide(:title, @pub.name) %>
  <% if logged_in? && current_user == @pub.user%>
  You are the owner of this pub!
<% if !@pub.validated %> The pub still has to be validated by the administrator!
<% end %>
    <%= link_to "Upload menu", new_pub_menu_path(@pub), class: 'btn btn-primary'  %>
    <% if @pub.menus.count > 0 %>
    <%= link_to "Delete menu", pub_menu_path(@pub, @pub.menus.first), method: :delete,
                                  data: { confirm: "You sure?" }, class: 'btn btn-primary' %>
  <% end %>
    <% end %>
    <% if @pub.menus.count > 0 %>
        <%= link_to "See menu", @pub.menus.first.document.url, class: 'btn btn-primary', target: '_blank'%> 
        <% end %>
<div class="row">
  <aside class="col-md-4">
    <section class="pub_info">
      <h1>
        <%= @pub.name %>
        <%= @pub.address %>
        <br>
        This pub was visited <%= pluralize((@pub.visited_pubs.count), "time") %>
        Ratings:<%= @pub.avg_votes %>/5
        </h1>
    </section>
  </aside>
  
  <% if logged_in? && current_user == @pub.user%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
<% end %>
    <div class="col-md-8">
    <% if @pub.microposts.any? %>
      <h3>Microposts (<%= @pub.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts%>
    <% end %>
  </div>
</div>
<% if logged_in? && !current_user?(@pub.user)%>
  <div class="row">
    <aside class="col-md-4">
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    
    <% if current_user.favorites.include?(@pub) %>
    <%= link_to "Unfavorite", favorite_pub_path(@pub, type: "unfavorite"), method: :put, class: 'btn btn-primary'%>
    <% else %>
      <%= link_to "Favorite",   favorite_pub_path(@pub, type: "favorite"), method: :put, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div>
  <% if current_user.visiteds.include?(@pub) %>
  <%= link_to "I have not been here!",   visited_pub_path(@pub, type: "not visited"), method: :put, class: 'btn btn-primary' %>
  <% else %>
  <%= link_to "I have been here!",   visited_pub_path(@pub, type: "visited"), method: :put, class: 'btn btn-primary' %>
  <% end %> 
  </div>
<% else %>
<% end %>

  <div class="col-md-12">
    <% if @pub.reviews.any? %>
      <h3>Reviews (<%= @pub.reviews.count %>)</h3>
      <ol class="reviews">
        <%= render @reviews %>
      </ol>
      <%= will_paginate @reviews %>
    <% end %>
  </div>

<% if current_user.admin? or current_user == @pub.user %>
    <%= link_to "Delete this pub", @pub, method: :delete, class: 'btn btn-primary'  %>
    <%= link_to "Edit pub's informations", edit_pub_path(@pub), class: 'btn btn-primary'  %>
<% end %>
