<% provide(:title, @pub.name) %>
You are the owner of this pub
<div class="row">
  <aside class="col-md-4">
    <section class="pub_info">
      <h1>
        <%= @pub.name %>
        <%= @pub.address %>
      </h1>
    </section>
  </aside>
  <% if logged_in? && current_user == @pub.user%>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
  </div>
<% else %>
<% end %>
    <div class="col-md-8">
    <% if @pub.user.microposts.any? %>
      <h3>Microposts (<%= @pub.user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<% if current_user.admin? or current_user == @pub.user %>
    <%= link_to "Delete this pub", @pub, method: :delete, class: 'btn btn-primary'  %>
    <%= link_to "Edit pub's informations", edit_pub_path(@pub), class: 'btn btn-primary'  %>
<% end %>