

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "PUB FINDER", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <% if @current_user.pubs.count > 0 %>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="your_pubs">
              Your pubs <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% for pub in @current_user.pubs %>
              <li><a href=<%=pub_path(pub.id.to_s)%> id="pub"> <%= pub.name %> </a></li>
              <% end %>
            </ul>
          </li>
          <% end %>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "All pubs", pubs_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="account">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                
                <li><a href="/logout" data-method="delete" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
              </li>
            </ul>
          </li>
        <% else %>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

